<h1>
  {{title}}
  <section>
    <ul>
      <a><li> <a href= "./blogs/all"> Blogs</li> </a>
      <a><li>Genres</li></a>
      <a><li>Dates</li></a>
      <a><li>Authors</li></a>
      <a><li>Tags</li></a>
    </ul>
  </section>
</h1>