<body>
    <h1>Blog Browsing Page</h1>
    <section>
        {{title}}
        {{blogs}}
        This is where all blogs will be represented by cards. Each card will link to the large
        single-blog view.
    </section>
</body>