<body>
    <h1>Blog View Page</h1>
    <section>
        This is where a single blog will be viewed. All information regarding any single blog,
        such as Author, Date of post, etc, will be containted here.
    </section>
</body>