<body>
    <h1>Blog View Page</h1>
    <section>
        This is where a single blog will be viewed. All information regarding any single blog,
        such as Author, Date of post, etc, will be containted here.
        <main>
            <h2 class="single-blog-header__author">{{author}}Emilio "Freejack" Estevez</h2>
            <p class="single-blog-header__title">Freejack: The Absolute Pinnacle of My Career</p>
            <p class="single-blog-header__genre">Cinematic Achievements</p>
            <p class="single-blog-header__publish-date">Now and Forever</p>
            <article class="single-blog-body__blog-article">{{body}}</article>
        </main>

        {{!-- {{#each tags}}

        {{/each}} --}}
    </section>
</body>